body {
  padding-left: 11em;
  font-family:Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  color: black;
  background-color: #f2f2f2 }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif; color:#0088cc}
ul.navbar li {
  font-family: Helvetica, Geneva, Arial,
  SunSans-Regular, sans-serif; color: #1a1a1a;
  background: #e6faff;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: underline }
a:link {
  color: blue }
a:visited {
  color: purple }
address {
  margin-top: 1em;
  font-family:;
  font-size: x-small;
  font-style:italic;
  padding-top: 1em;
  border-top: thin dotted }
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}

h3{
	font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif; color: #cc3300	
}












